* {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Josefin Slab", serif;
  color: #333;
}
  
#banner {
  background-image: url('twigs.jpg');
  backgrond-size: cover;
  background-position: 50% 50%;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  color: rgba(255,255,255,.825);
  text-align: center;
}
